<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Root</title>
</head>
<body>
    <h1>Selamat Datang di API Kami</h1>
    <p>Ini adalah halaman root API kami. Silakan jelajahi endpoint-endpoint yang tersedia:</p>
    <ul>
        <li><a href="http://127.0.0.1:8000/api/">API Root</a></li>
        <li><a href="http://127.0.0.1:8000/api/menu">API Menu</a></li>
        <li><a href="http://127.0.0.1:8000/api/pesanan">API Pesanan</a></li>
       
        <hr>
        <li><a href="http://127.0.0.1:8000/api/pembayaran">API Pembayaran</a></li>

        <!-- Tambahkan tautan lain ke endpoint-endpoint lain di sini -->
    </ul>
</body>
</html>